In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data/training_set_without_outliers.csv')
df_test = pd.read_csv('data/preprocessed_test_set.csv')

In [8]:
import pickle

model = pickle.load(open('model/final_model.ml', 'rb'))

In [4]:
ids = df_test['Id'].copy()
df_test = df_test.drop(['Id'], axis=1)


df_test.shape

(1446, 263)

In [5]:
X = df.drop(['SalePrice'], axis=1)

X.shape, df_test.shape

((1410, 263), (1446, 263))

In [6]:
# Adjust column order

X_test = df_test[X.columns]

In [7]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)
X_test = scaler.transform(X_test)

In [11]:
ser = pd.Series(model.predict(X_test))
ser

0       122252.224819
1       176735.866880
2       191514.820790
3       208989.198205
4       205671.792749
            ...
1441     83962.117982
1442     77839.554869
1443    183292.724926
1444    110253.827494
1445    223034.402978
Length: 1446, dtype: float64

In [13]:
# Create submission dataframe: [Id, SalePrice]

submission = pd.DataFrame()

submission['Id'] = ids
submission['SalePrice'] = ser

submission

        Id      SalePrice
0     1461  122252.224819
1     1462  176735.866880
2     1463  191514.820790
3     1464  208989.198205
4     1465  205671.792749
...    ...            ...
1441  2915   83962.117982
1442  2916   77839.554869
1443  2917  183292.724926
1444  2918  110253.827494
1445  2919  223034.402978

[1446 rows x 2 columns]